body{
    background-color: rgb(231, 217, 143);
}
.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.option{
width: 30%;
text-align: center;
}

.options{
    background-color: goldenrod;
}

.header{
    background-color: rgb(243, 201, 87);
    text-align: center;
    font-family: fantasy;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

button{
    height: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: goldenrod;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.5s;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(253, 214, 38);
}

.proccess{
    background-color: goldenrod;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box{
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: dashed;
    width: 30%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pro{
    background-color: goldenrod;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.options{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
.FAQs{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: goldenrod;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
.pros{
    padding-left: 30px;
    padding-right: 30px;
    background-color: goldenrod;
    margin-top: 30px;
}
h2{
background-color: rgb(253, 214, 38);
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}